In [1]:
import pandas as pd
import numpy as np
%config Completer.use_jedi=False

## Construction
---

In [5]:
arr = pd.array([1, 2, None], dtype=pd.Int64Dtype())
arr

<IntegerArray>
[1, 2, <NA>]
Length: 3, dtype: Int64

In [6]:
pd.array([1, 2, np.nan], dtype="Int64")

<IntegerArray>
[1, 2, <NA>]
Length: 3, dtype: Int64

In [7]:
pd.array([1, 2, np.nan, None, pd.NA], dtype="Int64")

<IntegerArray>
[1, 2, <NA>, <NA>, <NA>]
Length: 5, dtype: Int64

In [8]:
pd.Series(arr)

0       1
1       2
2    <NA>
dtype: Int64

## Operations
---

In [9]:
s = pd.Series([1, 2, None], dtype="Int64")
s+1

0       2
1       3
2    <NA>
dtype: Int64

In [10]:
s == 1

0     True
1    False
2     <NA>
dtype: boolean

In [11]:
s.iloc[1:3]

1       2
2    <NA>
dtype: Int64

In [12]:
s + s.iloc[1:3].astype("Int8")
s

0       1
1       2
2    <NA>
dtype: Int64

In [13]:
s + 0.01

0    1.01
1    2.01
2     NaN
dtype: float64

In [14]:
df = pd.DataFrame({"A": s, "B": [1, 1, 3], "C": list("aab")})
df

      A  B  C
0     1  1  a
1     2  1  a
2  <NA>  3  b

In [15]:
df.dtypes

A     Int64
B     int64
C    object
dtype: object

In [17]:
print(pd.concat([df[["A"]], df[["B", "C"]]], axis=1))
pd.concat([df[["A"]], df[["B", "C"]]], axis=1).dtypes

      A  B  C
0     1  1  a
1     2  1  a
2  <NA>  3  b

A     Int64
B     int64
C    object
dtype: object

In [18]:
df.sum()

A      3
B      5
C    aab
dtype: object

In [19]:
 df.groupby("B").A.sum()

B
1    3
3    0
Name: A, dtype: Int64

## Scalar NA Value
---

In [20]:
a = pd.array([1, None], dtype="Int64")
print(a)
a[1]

<IntegerArray>
[1, <NA>]
Length: 2, dtype: Int64