In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
%config Completer.use_jedi=False

## Statistical functions
---

In [2]:
ser = pd.Series(np.random.randn(8))
ser

0    0.346661
1    1.005366
2    0.830713
3    1.374960
4   -1.138257
5   -0.152657
6   -0.858938
7   -0.482716
dtype: float64

In [3]:
ser.pct_change()

0         NaN
1    1.900137
2   -0.173720
3    0.655156
4   -1.827847
5   -0.865885
6    4.626587
7   -0.438008
dtype: float64

In [4]:
df = pd.DataFrame(np.random.randn(10, 4))
df.pct_change(periods=3)

          0          1         2         3
0       NaN        NaN       NaN       NaN
1       NaN        NaN       NaN       NaN
2       NaN        NaN       NaN       NaN
3  0.954314 -45.877005 -0.230428 -1.510649
4  0.585178  -2.255839  2.815338 -1.030497
5 -8.064516   0.647552 -1.321351 -2.809932
6  3.666503   0.000681 -1.146182 -0.971868
7 -1.175582   0.176494  7.698133  7.077511
8 -0.523151  -0.673022  1.336985 -1.291358
9 -0.294651  -0.933213  0.949154 -8.598012

## Covariance
---

In [5]:
s1 = pd.Series(np.random.randn(1000))
s2 = pd.Series(np.random.randn(1000))
s1.cov(s2)

0.03990332370117858

In [6]:
frame = pd.DataFrame(np.random.randn(1000, 5), columns=["a", "b", "c", "d", "e"])
frame.cov()

          a         b         c         d         e
a  1.069713 -0.009989 -0.002390 -0.005127 -0.008446
b -0.009989  0.937726 -0.014873  0.050783  0.016625
c -0.002390 -0.014873  0.988553 -0.001631 -0.051014
d -0.005127  0.050783 -0.001631  1.015299 -0.002626
e -0.008446  0.016625 -0.051014 -0.002626  1.028212

## Correlation
---