In [2]:
import pandas as pd
import numpy as np

## Head and Tail

In [6]:
long_series = pd.Series(np.random.randn(1000))

display(long_series.head())
display(long_series.tail())

0   -0.474552
1   -1.212881
2    0.993804
3   -1.424803
4   -0.169506
dtype: float64

995    1.524159
996   -0.301833
997    0.387328
998   -0.278312
999    2.084462
dtype: float64

## Attributes and underlying data

In [11]:
idx = pd.date_range('1/1/2020', periods=8)

df = pd.DataFrame(np.random.randn(8,3), index=idx, columns=list('ABC'))

display(df[:2])

                   A         B         C
2020-01-01  0.478966 -0.726491 -0.728305
2020-01-02  1.010801 -1.176909 -1.391494

In [13]:
df.columns = [x.lower() for x in df.columns]

df

                   a         b         c
2020-01-01  0.478966 -0.726491 -0.728305
2020-01-02  1.010801 -1.176909 -1.391494
2020-01-03 -0.727717  0.708734  1.155433
2020-01-04 -0.569281  0.583040 -0.081336
2020-01-05 -0.045083 -0.120939 -0.260899
2020-01-06  1.896137 -0.696371 -0.874838
2020-01-07  0.065762  0.003957  0.619132
2020-01-08  0.542556  1.599142  0.193486

In [21]:
# To get the actual data inside a Index or Series, use the .array property
df.columns.array

<PandasArray>
['a', 'b', 'c']
Length: 3, dtype: object

In [24]:
# To numpy array
display(df['a'].to_numpy())
display(np.asarray(df['b']))

array([ 0.4789664 ,  1.01080061, -0.72771686, -0.56928127, -0.04508331,
        1.89613689,  0.06576237,  0.54255634])

array([-0.7264911 , -1.1769086 ,  0.70873394,  0.58303962, -0.12093929,
       -0.69637092,  0.00395687,  1.59914184])