In [4]:
import pandas as pd

In [5]:
df1 = pd.DataFrame({'A': [0, 0], 'B': [4, 4]})
df2 = pd.DataFrame({'A': [1, 1], 'B': [3, 3]})

In [7]:
df1

   A  B
0  0  4
1  0  4

In [8]:
df2

   A  B
0  1  3
1  1  3

In [11]:
df1.sum()

A    0
B    8
dtype: int64

In [13]:
df2.sum()

A    2
B    6
dtype: int64

In [14]:
df1.sum() > df2.sum()

A    False
B     True
dtype: bool